{
  "semi": false,
  "printWidth": 100,
  "tabWidth": 4,
  "singleQuote": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "trailingComma": "es5"
}
